H1 {text-align:left; color:white; font: bold  30pt "Andale Mono"} 
H2 {text-align:left; color:#000080; font: normal 17pt "Monaco"} 
H3 {text-align:left; color:#000080; font: normal 12pt "Monaco"} 
H4 {text-align:left; color:#000080; font: normal 10pt "Monaco"} 

body {
    background-color: #FFFFFF;
} 

 /* navigation bar at top of each page */

#nav {
    line-height:100px;
    background-color:#0066CC;
    height:170px;
    width:2000px;
    float:left;
    padding:10px;
}

 /* formatting for intro section */
#about {
    line-height:100px;
    height:1000px;
    width:230px;
    float:left;
    padding:10px;
}


 /* unique title formatting for nav bar */
h1.title {
    margin-left: 16px;
    margin-top: 20px;
}

 /* unique title formatting for nav bar */
ul.interests {
    margin-left: 16px;
    margin-top: 20px;
}

